.subheader {
    --background: rgb(233, 56, 56);
}

.title {
    color: white;
}

.officerpic {
    margin-top: 7.5%;
    margin-left: 0px;
    margin-right: 0px;
}

.meetlogo {
    margin-left: 0px;
    margin-right: 0px;
}

.arteampic {
    margin-left: 0px;
    margin-right: 0px;
}

.slides {
    height: 35%;
    margin-top: 3%;
}

.flag {
    display: block;
    margin-left: 45%;
    margin-right: auto;
  }

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 3px;
}

.officerBlocks {
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 10px;
    background: rgb(70, 107, 230);
    color: white;
    border-radius: 10px;
    text-align: center;
}

.heading {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: auto;
}



.subheading {
    font-style: italic;
    text-align: center;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 120%;
    margin-bottom: 0.001%;
    margin-top: 2%;
}

.roles {
    text-align: center;
    font-size: 100%;
    margin-top: 0.001%;

}

.schools {
    text-align: center;
    font-size: 100%;
    margin-top: 0.001%;
    color: white;
    font-style: italic;

}

td {
    border: none;

}

.schoolInput {
    display: block;
    font-size: 105%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 2%;
    border-bottom: solid 3px rgb(34, 141, 241);
    width: 65%;
    text-align: center;
}

.headerTable {
    width: 100%;
    
}

.headerCell {
    width: 65%
}

.inputHeaders {
    position: relative;
    color: white;
    background-color: rgb(235, 77, 77);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px 4px 4px 4px;

}

.Chapters {
    border-color: black;
    display: block;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 57%;
    text-align: center;
}

.MemberButton {
    background-color: #0090FD;
    font-size: 15px;
    color: white;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-left:3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 12px;
    width: 40%;
    height: 4%;

}

.container {
    position: relative;
    width: 100%;
    display: block;
}

.officerLabel {
    font-weight: bold;
}


.chapterHeader {
    margin-left: 20.5%;
    margin-right: auto;
    font-size: 15px;
    color: whitesmoke;
}

.localHeader {
    --background: black;
    margin-top: 3%;
}