<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Meet the Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-slides class = "slides" autoplay="5000" loop="true" speed="3000">
        <ion-slide>
            <img class = "meetlogo" height = "260px" width = "550px" src= "assets/meetUSpics/meetpage.png">          
        </ion-slide>
        <ion-slide>
            <img class = "officerpic" height = "260px" width = "550px" src= "assets/meetUSpics/officerpic.png">          
        </ion-slide>
        <ion-slide>
            <img class = "arteampic" height = "260px" width = "550px" src= "assets/meetUSpics/arteam.png">          
        </ion-slide>
    </ion-slides>

    
    <h1 class = "teamHeader">FBLA District VII Officers</h1>
    <img class="stripe" height = "4px" width = "50%" src= "assets/blackstripe.png">
    <h4 class = "officers">President: Gabby Thornhill</h4>
    <h4 class = "officers">Vice President: Emily Cousins</h4>
    <h4 class = "officers">Secretary: Cindy Ledezma</h4>  
    <h4 class = "officers">Treasurer: Luke Ernest</h4>
    <h4 class = "officers">Reporter: Alexandra Barroso</h4>
    <h4 class = "officers">Parliamentarian: Karina Lopez</h4> 
</ion-content>

<!--*ngFor="let slide of slideData"-->