.officerpic {
    margin-top: 7.5%;
    margin-left: 0px;
    margin-right: 0px;
}

.meetlogo {
    margin-left: 0px;
    margin-right: 0px;
}

.arteampic {
    margin-left: 0px;
    margin-right: 0px;
}

.slides {
    height: 260px;
}

.Gabby {
    margin-left: 6%;
    font-family: "Times New Roman", Times, Serif;
    font-weight: bold;
}

.gabbyDetails {
    margin-top: 10%;
}

