.subheader {
    --background: rgb(233, 56, 56);
}

.title {
    color: white;
}

.officerpic {
    margin-top: 7.5%;
    margin-left: 0px;
    margin-right: 0px;
}

.meetlogo {
    margin-left: 0px;
    margin-right: 0px;
}

.arteampic {
    margin-left: 0px;
    margin-right: 0px;
}

.slides {
    height: 260px;
}

.flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 3px;
}

.officerBlocks {
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    margin-bottom: 3%;
    padding: 0.5%;
    background: rgb(70, 107, 230);
    color: white;
    border-radius: 10px;
    text-align: center;
}



.subheading {
    font-style: italic;
    text-align: center;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 120%;
    margin-bottom: 0.001%;
    margin-top: 2%;
}

.roles {
    text-align: center;
    font-size: 100%;
    margin-top: 0.001%;

}

.schools {
    text-align: center;
    font-size: 100%;
    margin-top: 0.001%;
    color: white;
    font-style: italic;

}