<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Meet the Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-slides class = "slides" autoplay="5000" loop="true" speed="3000">
        <ion-slide>
            <img class = "meetlogo" height = "260px" width = "550px" src= "assets/meetUSpics/meetpage.png">          
        </ion-slide>
        <ion-slide>
            <img class = "officerpic" height = "260px" width = "550px" src= "assets/meetUSpics/officerpic.png">          
        </ion-slide>
        <ion-slide>
            <img class = "arteampic" height = "260px" width = "550px" src= "assets/meetUSpics/arteam.png">          
        </ion-slide>
    </ion-slides>

    <img class = "gabbyDetails" height = "170px" width = "550px" src= "assets/meetUSpics/gabbyDetails.png">
  
  
</ion-content>

<!--*ngFor="let slide of slideData"-->