<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title><img class = "flag" height = "10%" width = "20%" src= "assets/fblaFlag.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
   <ion-header>
     <ion-toolbar class= "subheader"><ion-title class="title">Meet the Officers</ion-title></ion-toolbar>
 </ion-header>
  <!--
    <ion-slides class = "slides" autoplay="5000" loop="true" speed="3000">
        <ion-slide>
            <img class = "meetlogo" height = "260px" width = "550px" src= "assets/meetUSpics/meetpage.png">          
        </ion-slide>
        <ion-slide>
            <img class = "officerpic" height = "260px" width = "550px" src= "assets/meetUSpics/officerpic.png">          
        </ion-slide>
        <ion-slide>
            <img class = "arteampic" height = "260px" width = "550px" src= "assets/meetUSpics/arteam.png">          
        </ion-slide>
    </ion-slides>
-->
    <!--
    <h1 class = "teamHeader">FBLA District VII Officers</h1>
    <img class="stripe" height = "4px" width = "50%" src= "assets/blackstripe.png">
    <h4 class = "officers">President: Gabby Thornhill</h4>
    <h4 class = "officers">Vice President: Emily Cousins</h4>
    <h4 class = "officers">Secretary: Cindy Ledezma</h4>  
    <h4 class = "officers">Treasurer: Luke Ernest</h4>
    <h4 class = "officers">Reporter: Alexandra Barroso</h4>
    <h4 class = "officers">Parliamentarian: Karina Lopez</h4> 

-->

<div class ="officerBlocks">
    <h2 class="subheading">Gabby Thornhill</h2>
    <h3 class="roles">District VII President, State VP</h3>
    <img class = "image" height = "60%" width = "30%" src= "assets/meetUSpics/Gabby.png">
    <h3 class="schools">Rogers New Tech High School</h3>
 </div>


 <div class ="officerBlocks">
    <h2 class="subheading">Emily Cousins</h2>
    <h3 class="roles">District VII Vice President</h3>
    <img class = "image" height = "60%" width = "30%" src= "assets/meetUSpics/EmilyCousins.png">
  </div> 

  <div class ="officerBlocks">
    <h2 class="subheading">Cindy Ledezma</h2>
    <h3 class="roles">District VII Secretary</h3>
    <img class = "image" height = "60%" width = "30%" src= "assets/meetUSpics/CindyLedezma.png">

  </div> 

  <div class ="officerBlocks">
    <h2 class="subheading">Luke Ernest</h2>
    <h3 class="roles">District VII Treasurer</h3>
    <img class = "image" height = "60%" width = "30%" src= "assets/meetUSpics/LukeErnest.png">
  </div> 

  <div class ="officerBlocks">
    <h2 class="subheading">Alexandra Barroso</h2>
    <h3 class="roles">District VII Reporter</h3>
    <img class = "image" height = "60%" width = "30%" src= "assets/meetUSpics/Alexandra.png">
  </div> 

  <div class ="officerBlocks">
    <h2 class="subheading">Karina Lopez</h2>
    <h3 class="roles">District VII Parliamentarian</h3>
    <img class = "image" height = "60%" width = "30%" src= "assets/meetUSpics/KarinaLopez.png">
 </div>


</ion-content>
