<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class = "flag" height = "10%" width = "20%" src= "assets/fblaFlag.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "content">

  <div class="tab">
      <table class ='tabletest'>
            
          <tr>
              <td>
                <img class = "instagram" height = "75px" width = "75px" src= "assets/instagram.jpg" (click) = "openInstagram()"></td>
              <td class= "acc" (click) = "openInstagram()"><h4>@bentonvillefbla</h4></td>
          </tr>
          
          <tr>
            <td>
              <img class = "facebook" height = "60px" width = "60px" src= "assets/facebook.png" (click) = "openFacebook()"></td>
            <td class= "acc" (click) = "openFacebook()"><h4>Arkansas FBLA District VII</h4></td>
          </tr>
          
          <tr>
            <td>
              <img class = "twitter" height = "60px" width = "60px" src= "assets/twitter.jpg" (click) = "openTwitter()"></td>
            <td class= "acc" (click) = "openTwitter()"><h4>@arkansas_fbla</h4></td>
          </tr>
        
        </table>

        <button class="arWebButton" (click)= "openWebsiteAR()">District VII Website</button>

        <div class="connect">

          <h2>Connect with us through our State Newsletter</h2>
          <img class="icon" height = "55%" width = "80%" src= "assets/newsletterImage.png" (click) = openNewsletter()>
        </div>

        
  
    
  </div>

  <div class="text-block">
      <h1 class="header">Contact Us</h1>
    </div>



    


  


</ion-content>
