<ion-app>
  <ion-split-pane>
    <ion-menu type="reveal">
      <ion-header>
        <ion-toolbar class="headerBar">

            <img class = "flag" height = "10%" width = "20%" src= "assets/fblaFlag.png">

            <ion-list-header class="bar">FBLA District VII</ion-list-header>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item class="item" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-list-header class="sidemenu">
                {{p.title}}
              </ion-list-header>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of LoginPage">
              <ion-item class="loginItem" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon class="loginIcon" slot="start" [name]="p.icon"></ion-icon>
                <ion-list-header class="login">
                  {{p.title}}
                </ion-list-header>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
        
        
        <h6 ><ion-list-header class="moreinfo">Aryan Mahajan</ion-list-header> 
        </h6>
        <h6 ><ion-list-header class="info">Dinesh Vasireddy</ion-list-header> 
        </h6>
        <h6><ion-list-header class="info">Anish Guntreddi</ion-list-header> 
        </h6>
        <h6><ion-list-header class="chapterinfo">BHS Chapter</ion-list-header></h6>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
    
  </ion-split-pane>



</ion-app>
