.headerBar {
    color: black;
}

.bar {
    margin-left: 20%;
    margin-right: auto;
    font-size: 100%;
}

.flag {
    display: block;
    margin-left: 45%;
    margin-right: auto;
  
}


.item {
    border-radius: 0px 30px 30px 0px;
    --background:rgb(69, 114, 250);
    color:white;
    margin-top:1px;
    margin-bottom:1px;

}

.moreinfo {
    text-align: center;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 50%;
    font-size: 80%;
    font-weight: bold;

}

.info {
    text-align: center;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 0%;
    font-size: 80%;
    font-weight: bold;

}

.sidemenu {
    color: white;
    font-size: 90%;
}

.chapterinfo {
    text-align: center;
    margin-left: 23%;
    margin-right: auto;
    margin-top: 0%;
    font-size: 90%;
    font-weight: bold;
}