.flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.calendar {
    display: block;
}

.subheader {
    --background: #1A4BDE;
    display: block;
    color: white;
}

.Districts {
    border-color: black;
    display: block;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 47%;
    text-align: center;
}

.Chapters {
    border-color: black;
    display: block;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 57%;
    text-align: center;
}

.chapterHeader {
    margin-left: 20.5%;
    margin-right: auto;
    font-size: 15px;
    color: whitesmoke;
}

.districtHeader {
    margin-left: 22%;
    margin-right: auto;
    font-size: 15px;
    color: whitesmoke;
}

.EventsButton {
    background-color: #0090FD;
    font-size: 15px;
    color: white;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-left:3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 12px;
    width: 40%;
    height: 4%;

}

.inputHeaders {
    position: relative;
    color: white;
    background-color: rgb(235, 77, 77);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px 4px 4px 4px;

}

.lists {
    color: black;

}

.container {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 1%;
    color: black;
    display: block;

}

.schoolInput {
    display: block;
    font-size: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 1%;
    border-bottom: solid 3px rgb(34, 141, 241);
    width: 55%;
    text-align: center;
}

.date {
    text-align: center;
    color: white;
}