<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class= "homecontent">

     
    <!--creates a moving gallery of images for the home page-->
    <ion-slides class = "slides" autoplay="5000" loop="true" speed="3000">
      <ion-slide>
        <img class = "logo" height = "190px" width = "610px" src= "assets/FBLA-logo.png">          
      </ion-slide>
      <ion-slide>
          <img class = "world" height = "190px" width = "610px" src= "assets/fblaworld.jpg">      
      </ion-slide>
  </ion-slides>


  <img class = "fblaheader" height = "75px" width = "530px" src= "assets/FBLAheader.png">

  <!--full FBLA website will open when button is clicked-->
  <img class = "websiteButton" height = "40px" width = "200px" src= "assets/websiteButton.png" (click) = "openWebsite()">


  <!--instagram profile will open when clicked-->
  <img class = "instagram" height = "80px" width = "80px" src= "assets/instagram.jpg" (click) = "openInstagram()"> 

  <!--open facebook profile when icon is clicked-->
  <img class = "facebook" height = "70px" width = "70px" src= "assets/facebook.png" (click) = "openFacebook()">
  
  <!--open twitter profile when icon is clicked-->
  <img class = "twitter" height = "70px" width = "70px" src= "assets/twitter.jpg" (click) = "openTwitter()">
  
  
   

</ion-content>
