.current{
    display: block;
}

.table-responsive {
    width: 90%;
    border: 3px solid black;
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}


tr,th,td {
    padding: 10px;
    border: 2px solid black;
}


