<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Current Events in District 7
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <img class = "current" height = "260px" width = "610px" src= "assets/currentEvents.png">

    <h3 class="monthHeader" id= "month" style = "text-align: center">Month</h3>

    <table width= "100%" >
      <tr class= "tableHeader">
        <th>S</th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
      </tr>
    </table>
  
  
  
  

</ion-content>
