.About {
    text-align: center;
    font-style: bold;
    margin-left: 4%;
    margin-right: 4%;
}

.arfbla {
    display:block;
    margin-left: 30%;
    margin-right: 45%;
}
.prepare {
    text-align: center;
    font-style: italic;
    margin-left: 2%;
    margin-right: 2%;
}

.EdAbout {
    text-align: center;
    font-style: italic;
    margin-left: 3%;
    margin-right: 3%;
}

