.About {
    padding: 3%;
    padding-top: 6%;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6%;
    font-family: 'Lato'; 
    font-size: 20px;
}

.arfbla {
    display:block;
    margin-left: 30%;
    margin-right: 45%;
    margin-top: 4%;
}
.prepare {
    text-align: center;
    margin-right: 4.5%;
    margin-left: auto;

}

.prepareHeader {
    font-size: 100%;

}

.flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.EdAbout {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
    font-family: 'Lato';
    font-size: 20px;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.preparepic {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.stripe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 175%;
    margin-top: 30%;
    border-radius: 15px;
    background: white;

}

.body {
    --background: lightblue;
}

.text-block {
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    bottom: 625px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(37, 102, 224);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    width: 85%;
  }

  .header {
    font-size: 260%;
    font-family: "Trebuchet MS", sans-serif;
  }