<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>About FBLA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img class = "logo" height = "260px" width = "550px" src= "assets/About.png">
    
    <h4 class= "About">
        FBLA is the high school division of Future Business Leaders of America-Phi Beta Lambda, Inc. FBLA helps high school students prepare for careers in business through academic competitions, leadership development, and educational programs.
    </h4>

    <iframe class = "video" width="93%" height="28%" src="https://www.youtube.com/embed/BHQYS7ZKlE8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    
    <img class = "arfbla" height = "160px" width = "160px" src= "assets/fbla.png">

    <h2 class = "prepare">
      Prepare for College and Careers with FBLA
    </h2>
    <img class="stripe" height = "4px" width = "50%" src= "assets/blackstripe.png">

    <h4 class = "EdAbout">
        High school students explore college and career opportunities through a number of cocurricular educational programs. 
    </h4>

    <img class="preparepic" height = 25% width = 75% src= "assets/preparepic.jpg">

    <h4 class = "EdAbout">
      Members take part in academic competitions, networking events with accomplished business professionals at conferences, and community service projects. Plus, members have exclusive access to scholarships from a select group of academic institutions.
    </h4>

  </ion-content>


