<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title><img class = "flag" height = "10%" width = "20%" src= "assets/fblaFlag.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    
    
    <div class="main">
       <div class= "fblaSubheading">
            <ion-list-header class="fblaHeading">FBLA Categories</ion-list-header>
       </div>
       <table class="CategoryTable">
          <tr class="rows">
            <td class="rows"><ion-list-header><ion-label class="Categories">High School</ion-label> </ion-list-header></td>
            
          </tr>

          <tr class="rows">
              <td class="rows"><ion-list-header><ion-label class="Categories">Middle School</ion-label></ion-list-header></td>
          </tr>
    
          <tr class="rows">
            <td class="rows"><ion-list-header><ion-label class="Categories">College</ion-label></ion-list-header></td>
          </tr> 

          <tr class="rows">
              <td class="rows"><ion-list-header><ion-label class="Categories">Professionals</ion-label></ion-list-header></td>             
          </tr> 
      </table>

    <h4 class= "About">
        FBLA is the high school division of Future Business Leaders of America-Phi Beta Lambda, Inc. FBLA helps high school students prepare for careers in business through academic competitions, leadership development, and educational programs.
    </h4>

    <iframe class = "video" width="93%" height="13%" src="https://www.youtube.com/embed/BHQYS7ZKlE8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    
    <img class = "arfbla" height = "160px" width = "160px" src= "assets/fbla.png">
   
    <div class= "prepareDiv">
    <h2 class="prepare">
      <ion-list-header class="prepareHeader">Prepare for College and Careers with FBLA</ion-list-header>
    </h2></div>

    <h4 class = "EdAbout">
        High school students explore college and career opportunities through a number of cocurricular educational programs. 
    </h4>

    <img class="preparepic" height = 14% width = 75% src= "assets/preparepic.jpg">

    <h4 class = "EdAbout">
      Members take part in academic competitions, networking events with accomplished business professionals at conferences, and community service projects. Plus, members have exclusive access to scholarships from a select group of academic institutions.
    </h4>
  </div>

  <div class="text-block">
    <h1 class="header">ABOUT FBLA</h1>
  </div>



  </ion-content>


