<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img class = "flag" height = "10%" width = "20%" src= "assets/fblaFlag.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class = "content">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

  

 <div class="main">
  <img class = "CatImage" height = "6%" width = "60%" src= "assets/categoriesImage.png">
  
  <ion-slides class = "slides" autoplay="5000" loop="true" speed="3000">
    <ion-slide>

      <div class="tests">

      <div class= "CatSubheading">
        <ion-list-header class="CatHeading">Event Categories</ion-list-header>
      </div>

      <table class="CategoryTable">
          <tr class="rows">
            <td class="rows"><ion-list-header><ion-label class="Categories">Tests</ion-label> </ion-list-header></td>
            
          </tr>

          <tr class="rows">
              <td class="rows"><ion-list-header><ion-label class="Categories">Presentations</ion-label></ion-list-header></td>
          </tr>
    
          <tr class="rows">
            <td class="rows"><ion-list-header><ion-label class="Categories">Interviews</ion-label></ion-list-header></td>
          </tr> 

          <tr class="rows">
              <td class="rows"><ion-list-header><ion-label class="Categories">Group/Team Performances</ion-label></ion-list-header></td>             
          </tr> 
      </table>
    </div>
      

    </ion-slide>
    
    <ion-slide>
      
      <div class ="tests">
          
        <div class="subheading"><ion-list-header class="testHeading">Tests</ion-list-header></div>
    
        <table class="testTable">
          <tr class="rows">
            <td class="rows"><ion-list-header (click)= "openObjtestRole()"><ion-label class="testCategories">Objective Test & Role Play</ion-label> </ion-list-header></td>
            
          </tr>
          <tr class="rows">
              <td class="rows"><ion-list-header (click)= "openObjtest()"><ion-label class="testCategories">Objective Tests</ion-label></ion-list-header></td>
          </tr>
    
          <tr class="rows">
            <td class="rows"><ion-list-header (click)= "openProdObj()"><ion-label class="testCategories">Production & Objective Test</ion-label></ion-list-header></td>
            
          </tr> 
        </table>
        <ion-list-header  (click)= " openCollab()"><ion-label class="collabCategories">Collaborative Objective Test & Team Performance(Role Play)</ion-label></ion-list-header>
      </div>          
    </ion-slide>

    <ion-slide>
      <div class ="tests">
          <div class="subheading"><ion-list-header class="presHeading">Presentations</ion-list-header></div>
    
        <table class="presTable">
          <tr class="rows">
            <td class="rows"><ion-list-header  (click)= "openPresWith()"><ion-label class="presCategories">Presentation with Equipment</ion-label></ion-list-header></td>
            <td class="rows"><ion-list-header  (click)= "openPresWithout()"><ion-label class="presCategories">Presentation w/o Equipment </ion-label></ion-list-header></td>
          </tr>
    
          <tr class="rows">
            <td class="rows"><ion-list-header  (click)= "openPrePro()"><ion-label class="presCategories">Prejudged Projects & Presentation</ion-label></ion-list-header></td>
            <td class="rows"><ion-list-header  (click)= " openPreRep()"><ion-label class="presCategories">Prejudged Reports & Presentation</ion-label></ion-list-header></td>
          </tr> 

          <tr class="rows">
            <td class="rows"><ion-list-header (click)= "openSpeech()"><ion-label class="speech">Speech</ion-label></ion-list-header></td>
            <td class="rows"><ion-list-header (click)= " openDemo()"><ion-label class="demonstration">Demonstration</ion-label></ion-list-header></td>
            
          </tr> 

        </table>

        <ion-list-header  (click)= " openCollab()"><ion-label class="collabCategories">Collaborative Objective Test & Team Performance(Role Play)</ion-label></ion-list-header>
      </div> 
    </ion-slide>
  
    <ion-slide>
      <table class="interviewTeamTable">
       <tr class="rows">
         <td class="rows">
       <div class ="tests">
          <div class="subheading"><ion-list-header class="intHeading">Interviews</ion-list-header></div>
        <ion-list-header (click)= "openInterview()"><ion-label class="InterviewTeam">Individual Interview</ion-label></ion-list-header>
       </div>
      </td> 
      </tr>
      
      <tr class="rows">
          <td class="rows">
       <div class ="tests">
          <div class="subheading"><ion-list-header class="groupHeading">Group Performances</ion-list-header></div>
          <ion-list-header (click)= "openTeamPro()"><ion-label class="InterviewTeam">Team Performance</ion-label></ion-list-header>
       </div> 

       </td>
       </tr>
    </table>
    </ion-slide>

  </ion-slides>


  

  

    <div class="eventsBlock">
      <button class="signUpButton" >Sign Up for an Event</button>

      <h4 class="description">Individual or Team</h4>

      <img class ="logo" height = "100px" width = "130px" src="assets/FBLA-Logo-Color.png">

      <h6 class="description">Individual and team events focus on skills useful in leadership and career development, preparing members for their future careers and work environments.</h6>


    </div>



    <button class="listButton" id = "button" (click) ="hideShow()">Hide Competitive Events List</button>
    
    <table id= "Eventstable" class ='table' width = "97%" >
            
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Category</th>
      </tr>

            <tr>
              <td>3-D Animation</td>
              <td>Individual & Team</td>
              <td>Prejudged Projects & Presentation</td>
            </tr>
            
            <tr>
              <td>Accounting I</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>
            
            <tr>
              <td>Accounting II</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Advertising</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Agribusiness</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>American Enterprise Project</td>
              <td>Chapter</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Banking & Financial Systems</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance(Role Play)</td>
            </tr>

            <tr>
              <td>Broadcast Journalism</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Business Calculations</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Business Communication (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>
   
            <tr>
              <td>Business Ethics(FBLA)</td>
              <td>Individual & Team</td>
              <td>Presentation without Equipment</td>
            </tr>

            <tr>
              <td>Business Financial Plan</td>
              <td>Individual & Team</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Business Law (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Business Plan <h6 class = "modified"> Modified</h6> </td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Client Service (FBLA)</td>
              <td>Individual</td>
              <td>Presentation without Equipment</td>
            </tr>

            <tr>
              <td>Coding & Programming<h6 class = "modified"> Modified</h6></td>
              <td>Individual</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Community Service Project (FBLA)</td>
              <td>Chapter</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Computer Applications (FBLA)</td>
              <td>Individual</td>
              <td>Production & Objective Test</td>
            </tr>

            <tr>
              <td>Computer Game & Simulation Programming<h6 class = "modified"> Modified</h6></td>
              <td>Individual & Team</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Computer Problem Solving</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Cyber Security (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Database Design & Applications</td>
              <td>Individual</td>
              <td>Production & Objective Test</td>
            </tr>

            <tr>
              <td>Digital Video Production</td>
              <td>Individual & Team</td>
              <td>Prejudged Projects & Presentation</td>
            </tr>

            <tr>
              <td>E-business<h6 class = "modified"> Modified</h6></td>
              <td>Individual & Team</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Economics</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Electronic Career Portfolio</td>
              <td>Individual</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Emerging Business Issues (FBLA)</td>
              <td>Individual & Team</td>
              <td>Presentation without Equipment</td>
            </tr>

            <tr>
              <td>Entrepreneurship</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance(Role Play)</td>
            </tr>

            <tr>
              <td>Future Business Leader</td>
              <td>Individual</td>
              <td>Interview</td>
            </tr>

            <tr>
              <td>Global Business</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance(Role Play)</td>
            </tr>

            <tr>
              <td>Graphic Design</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Health Care Administration</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Help Desk  (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test & Role Play</td>
            </tr>

            <tr>
              <td>Hospitality Management (FBLA)</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance(Role Play)</td>
            </tr>

            <tr>
              <td>Impromptu Speaking (FBLA)</td>
              <td>Individual</td>
              <td>Speech</td>
            </tr>

            <tr>
              <td>Insurance & Risk Management</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Business<h6 class = "modified"> 9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Business Communication<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Business Presentation<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Introduction to Business Procedures<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to FBLA<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Financial Math<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>


            <tr>
              <td>Introduction to Information Technology<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>


            <tr>
              <td>Introduction to Parliamentary Procedure<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Public Speaking<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Speech</td>
            </tr>

            <tr>
              <td>Job Interview (FBLA)</td>
              <td>Individual</td>
              <td>Interview</td>
            </tr>

            <tr>
              <td>Journalism<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>LifeSmarts</td>
              <td>Team</td>
              <td>Team Performance</td>
            </tr>

            <tr>
              <td>Local Chapter Annual Business Report (FBLA)<h6 class = "modified">Modified</h6></td>
              <td>Chapter</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Management Decision Making</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Management Information Systems</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Marketing</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Mobile Application Development (FBLA)<h6 class = "modified">Modified</h6></td>
              <td>Individual & Team</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Network Design (FBLA)</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Networking Concepts (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Organizational Leadership</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Parliamentary Procedure (FBLA)</td>
              <td>Team</td>
              <td>Objective Test & Role Play</td>
            </tr>

            <tr>
              <td>Partnership with Business Project</td>
              <td>Chapter</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Personal Finance(FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Political Science</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Public Service Announcement</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Public Speaking (FBLA)</td>
              <td>Individual</td>
              <td>Speech</td>
            </tr>

            <tr>
              <td>Publication Design</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Sales Presentation (FBLA)</td>
              <td>Individual</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Securities & Investments</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Social Media Campaign</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Sports & Entertainment Management</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Spreadsheet Applications</td>
              <td>Individual</td>
              <td>Production & Objective Test</td>
            </tr>

            <tr>
              <td>Virtual Business Finance Challenge<h6 class = "modified">Modified</h6></td>
              <td>Individual & Team</td>
              <td>Team Performance</td>
            </tr>

            <tr>
              <td>Virtual Business Management Challenge<h6 class = "modified">Modified</h6></td>
              <td>Individual & Team</td>
              <td>Team Performance</td>
            </tr>

            <tr>
              <td>Website Design (FBLA)<h6 class = "modified">Modified</h6></td>
              <td>Individual & Team</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Word Processing</td>
              <td>Individual</td>
              <td>Production & Objective Test</td>
            </tr>
          
    </table>



</div>

<div class="headerBlock">
    <h2>FBLA Competitive Events</h2>
</div>


</ion-content>