<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        FBLA Competitive Events
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class = "content">
    <img class = "header" height = "260px" width = "610px" src= "assets/compEventsheader.png">
  <h1 class = "heading">FBLA Competitive Events</h1>

  <h3 class = "subheading">Tests</h3>

  <img class = "tests" height = "40px" width = "250px" src= "assets/Events-Tests/Objective Test & Role Play.png" (click) = "openObjtestRole()">

  <img class = "tests" height = "40px" width = "250px" src= "assets/Events-Tests/Objective Tests.png" (click) = "openObjtest()">

  <img class = "tests" height = "40px" width = "250px" src= "assets/Events-Tests/Production & Objective Test.png" (click) = "openProdObj()"> 

  <img class = "tests" height = "60px" width = "250px" src= "assets/Events-Tests/Collaborative Objective Test.png" (click) = "openCollab()">



  <h3 class = "subheading">Presentations</h3>
  <img class = "presentations" height = "40px" width = "250px" src= "assets/Events-Presentations/Presentationwith.png" (click) = "openPresWith()">

  <img class = "presentations" height = "40px" width = "250px" src= "assets/Events-Presentations/Presentationwithout.png" (click) = "openPresWithout()">

  <img class = "presentations" height = "40px" width = "250px" src= "assets/Events-Presentations/Speech.png" (click) = "openSpeech()">

  <img class = "presentations" height = "40px" width = "250px" src= "assets/Events-Presentations/Demonstration.png" (click) = "openDemo()">

  <img class = "presentations" height = "60px" width = "250px" src= "assets/Events-Presentations/PrejudgedP.png" (click) = "openPrePro()">

  <img class = "presentations" height = "60px" width = "250px" src= "assets/Events-Presentations/PrejudgedR.png" (click) = "openPreRep()">

  <img class = "presentations" height = "60px" width = "250px" src= "assets/Events-Presentations/Collab.png" (click) = "openCollab()">



  <h3 class = "subheading">Interviews</h3>
  <img class = "Interview" height = "40px" width = "250px" src= "assets/Events-Interview/Interview.png" (click) = "openInterview()">

  <h3 class = "subheading">Team Events</h3>
  <img class = "Team" height = "40px" width = "250px" src= "assets/Events-TeamP/Team Performance.png" (click) = "openTeamPro()">


  <!--
  <h4 class = "description">
    <h4>Each event is governed by specific guidelines and rating sheets. Once you choose an event, please review the guidelines closely.</h4>

    <h4>View and print all guidelines for FBLA events.</h4>
      
    <h4>View all FBLA events with ratings sheets.</h4> 
      
    <h4>Competitors can choose to compete in individual events, as part of a team, or as part of a chapter team:</h4> 

    <ul style="list-style-type:disc;">
      <li>Individual</li>
      <li>Team</li>
      <li>Chapter</li>
    </ul>

    <h4>There are also events specifically for high school students in grades 9-10.</h4> 
      
    <h4>Individual and team events focus on skills useful in leadership and career development; chapter events recognize overall achievement and performance in chapter management and growth.</h4>
      
    <h4>See the full lists of skills students develop here.</h4>
  </h4>-->
    <table class ='table' width = "97%">
            
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Category</th>
      </tr>

            <tr>
              <td>3-D Animation</td>
              <td>Individual & Team</td>
              <td>Prejudged Projects & Presentation</td>
            </tr>
            
            <tr>
              <td>Accounting I</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>
            
            <tr>
              <td>Accounting II</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Advertising</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Agribusiness</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>American Enterprise Project</td>
              <td>Chapter</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Banking & Financial Systems</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Broadcast Journalism</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Business Calculations</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Business Communication (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>
   
            <tr>
              <td>Business Ethics(FBLA)</td>
              <td>Individual & Team</td>
              <td>Presentation without Equipment</td>
            </tr>

            <tr>
              <td>Business Financial Plan</td>
              <td>Individual & Team</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Business Law (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Business Plan <h6 class = "modified"> Modified</h6> </td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Client Service (FBLA)</td>
              <td>Individual</td>
              <td>Presentation without Equipment</td>
            </tr>

            <tr>
              <td>Coding & Programming<h6 class = "modified"> Modified</h6></td>
              <td>Individual</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Community Service Project (FBLA)</td>
              <td>Chapter</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Computer Applications (FBLA)</td>
              <td>Individual</td>
              <td>Production & Objective Test</td>
            </tr>

            <tr>
              <td>Computer Game & Simulation Programming<h6 class = "modified"> Modified</h6></td>
              <td>Individual & Team</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Computer Problem Solving</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Cyber Security (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Database Design & Applications</td>
              <td>Individual</td>
              <td>Production & Objective Test</td>
            </tr>

            <tr>
              <td>Digital Video Production</td>
              <td>Individual & Team</td>
              <td>Prejudged Projects & Presentation</td>
            </tr>

            <tr>
              <td>E-business<h6 class = "modified"> Modified</h6></td>
              <td>Individual & Team</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Economics</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Electronic Career Portfolio</td>
              <td>Individual</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Emerging Business Issues (FBLA)</td>
              <td>Individual & Team</td>
              <td>Presentation without Equipment</td>
            </tr>

            <tr>
              <td>Entrepreneurship</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance(Role Play)</td>
            </tr>

            <tr>
              <td>Future Business Leader</td>
              <td>Individual</td>
              <td>Interview</td>
            </tr>

            <tr>
              <td>Global Business</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance(Role Play)</td>
            </tr>

            <tr>
              <td>Graphic Design</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Health Care Administration</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Help Desk  (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test & Role Play</td>
            </tr>

            <tr>
              <td>Hospitality Management (FBLA)</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance(Role Play)</td>
            </tr>

            <tr>
              <td>Impromptu Speaking (FBLA)</td>
              <td>Individual</td>
              <td>Speech</td>
            </tr>

            <tr>
              <td>Insurance & Risk Management</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Business<h6 class = "modified"> 9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Business Communication<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Business Presentation<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Introduction to Business Procedures<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to FBLA<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Financial Math<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>


            <tr>
              <td>Introduction to Information Technology<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>


            <tr>
              <td>Introduction to Parliamentary Procedure<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Introduction to Public Speaking<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Speech</td>
            </tr>

            <tr>
              <td>Job Interview (FBLA)</td>
              <td>Individual</td>
              <td>Interview</td>
            </tr>

            <tr>
              <td>Journalism<h6 class = "modified">9th & 10th Grade Event</h6></td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>LifeSmarts</td>
              <td>Team</td>
              <td>Team Performance</td>
            </tr>

            <tr>
              <td>Local Chapter Annual Business Report (FBLA)<h6 class = "modified">Modified</h6></td>
              <td>Chapter</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Management Decision Making</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Management Information Systems</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Marketing</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Mobile Application Development (FBLA)<h6 class = "modified">Modified</h6></td>
              <td>Individual & Team</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Network Design (FBLA)</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Networking Concepts (FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Organizational Leadership</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Parliamentary Procedure (FBLA)</td>
              <td>Team</td>
              <td>Objective Test & Role Play</td>
            </tr>

            <tr>
              <td>Partnership with Business Project</td>
              <td>Chapter</td>
              <td>Prejudged Reports & Presentation</td>
            </tr>

            <tr>
              <td>Personal Finance(FBLA)</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Political Science</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Public Service Announcement</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Public Speaking (FBLA)</td>
              <td>Individual</td>
              <td>Speech</td>
            </tr>

            <tr>
              <td>Publication Design</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Sales Presentation (FBLA)</td>
              <td>Individual</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Securities & Investments</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>

            <tr>
              <td>Social Media Campaign</td>
              <td>Individual & Team</td>
              <td>Presentation with Equipment</td>
            </tr>

            <tr>
              <td>Sports & Entertainment Management</td>
              <td>Individual & Team</td>
              <td>Collaborative Objective Test & Team Performance (Role Play)</td>
            </tr>

            <tr>
              <td>Spreadsheet Applications</td>
              <td>Individual</td>
              <td>Production & Objective Test</td>
            </tr>

            <tr>
              <td>Virtual Business Finance Challenge<h6 class = "modified">Modified</h6></td>
              <td>Individual & Team</td>
              <td>Team Performance</td>
            </tr>

            <tr>
              <td>Virtual Business Management Challenge<h6 class = "modified">Modified</h6></td>
              <td>Individual & Team</td>
              <td>Team Performance</td>
            </tr>

            <tr>
              <td>Website Design (FBLA)<h6 class = "modified">Modified</h6></td>
              <td>Individual & Team</td>
              <td>Demonstration</td>
            </tr>

            <tr>
              <td>Word Processing</td>
              <td>Individual</td>
              <td>Production & Objective Test</td>
            </tr>
          
    </table>
    
</ion-content>
