<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        FBLA Competitive Events
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <img class = "header" height = "260px" width = "610px" src= "assets/compEventsheader.png">
    filler table, database will be uploaded later
    
        <table class ='tabletest'>
            
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Category</th>
            </tr>

            <tr>
                <td>3-D Animation</td>
                <td>Individual & Team</td>
                <td>Prejudged Projects & Presentation</td>
            </tr>
            
            <tr>
              <td>Accounting I</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>
            
            <tr>
              <td>Accounting II</td>
              <td>Individual</td>
              <td>Objective Test</td>
            </tr>
          
          </table>
    
</ion-content>
